:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #007bff;
  --primary-light: #9bcaea;
  --primary-white: #f6f8f9;
  --primary-dark: #21618c;

  --secondary-color: #2ecc71;
  --secondary-light: #82e0aa;
  --secondary-dark: #239b56;

  --tertiary-color: #e74c3c;
  --tertiary-light: #f1948a;
  --tertiary-dark: #c0392b;

  --warning-color: #f39c12;
  --success-color: #27ae60;

  --gray-color: #6c757d;
  --gray-light: #f4f4f4;
  --gray-lighter: #c9c4c4;
  --gray-dark: #0000001a;

  --font-main: "Arial", sans-serif;
  --font-side: "Courier New", monospace;

  --big-font: 2rem;
  --medium-font: 1.5rem;
  --small-font: 1rem;
}
body {
  box-sizing: border-box;
  background-color: var(--gray-light);
}
