/* Authors.css */
.authors-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
}

.authors-container h2 {
  margin-bottom: 20px;
}

.authors-list ul {
  list-style: none;
  padding: 0;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  max-width: 500px;
}

.authors-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--primary-white);
  border: 1px solid var(--secondary-dark);
  border-radius: 8px;
  text-align: center;
  min-width: 300px;
  margin-bottom: 5px;
}

.authors-list li button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--primary-white);
  border: none;
  border-radius: 4px;
}
.books-container li button:hover {
  background-color: var(--primary-color);
}
.loading,
.error {
  text-align: center; /* Center text for loading/error messages */
  font-size: var(--medium-font); /* Font size for messages */
  color: var(--tertiary-color); /* Message color */
  padding: 1rem; /* Padding around messages */
}

@media (max-width: 600px) {
  .authors-list li {
    min-width: 210px;
    margin-right: 0px;
  }
  .authors-list ul {
    min-width: 240px;
    margin: 0px;
  }
}
/* -----------Books by Authors--------------- */
.booksAuthors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.thumbnail > img {
  width: 50px;
  height: 70px;
  margin-right: 50px;
}
.booksAuthors-container h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.booksAuthors-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.booksAuthors-container li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var (--primary-white);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--secondary-dark);
  text-align: center;
}
