.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
}

.popup-content {
  background-color: var(--primary-color);
  color: var(--primary-white);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
/* -----Login ------ */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  padding: 20px;
  background-color: var(--secondary-light);
}

h2 {
  margin: 0;
}
.login-container form {
  background-color: var(--primary-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--secondary-dark);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-container input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--primary-white);
  border-radius: 4px;
  transition: border;
}

.login-container input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--primary-white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color;
}

.login-container button:hover {
  background-color: var(--primary-color);
}

@media (max-width: 600px) {
  .login-container {
    padding: 10px;
    min-height: 250 px;
  }

  .popup-content {
    width: 95%;
  }
}
